<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockDbWriter.Properties.Settings.StockDBConnectionString"
            connectionString="Data Source=STEVE-PC\SQLEXPRESS;Initial Catalog=StockDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>